* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-bg-color: #FFC996;
    --footer-bg-color: #583D72;
    --board-bg-color: #FF8474;
    --text-color-light: #FFC996;
    --text-color-dark: #583D72;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h1 {}

h2 {}

h3 {
    margin-bottom: 24px;
}

button {
    height: 54px;
    width: 120px;
    border: 0;
    border-radius: 8px;
    background-color: var(--header-bg-color);
    color: var(--text-color-dark);
    font-size: 1.1rem;
    font-weight: 700;
}

button:hover {
    background-color: var(--footer-bg-color);
    color: var(--text-color-light);
    cursor: pointer;
}

input[type="text"] {
    width: 108px;
    margin: 0 8px 16px 8px;
    text-align: center;
}

input[type="range"] {
    width: 48px;
    margin: 0 8px 16px 8px;
    accent-color: var(--text-color-light);
}

label {
    margin: 0 0 16px 0;
}


/***********************
header
************************/

.header {
    background-color: var(--header-bg-color);
    color: var(--text-color-dark);
    padding: 32px 0;
}


/***********************
Board
************************/

.board-container {
    flex: 1;
    align-self: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    width: 80vw;
    max-width: 400px;
    box-shadow: 10px 10px 5px var(--header-bg-color);
}

.board-cell {
    aspect-ratio: 1;
    background-color: var(--board-bg-color);
    color: var(--text-color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    font-weight: 900;
}

.board :nth-child(2n+4) {
    border-top: 4px solid var(--text-color-dark);
    border-bottom: 4px solid var(--text-color-dark);
}

.board :nth-child(3n-1) {
    border-top: 0;
    border-bottom: 0;
    border-left: 4px solid var(--text-color-dark);
    border-right: 4px solid var(--text-color-dark);
}

.board :nth-child(5) {
    border-top: 4px solid var(--text-color-dark);
    border-bottom: 4px solid var(--text-color-dark);
}


/***********************
Result display
************************/

.display-result {
    flex: 1;
    color: var(--text-color-dark);
}


/***********************
Footer
************************/

.footer {
    background-color: var(--footer-bg-color);
    color: var(--text-color-light);
    padding: 16px 0;
}


/***********************
Modal
************************/

.modal-container {
    display: none;
    background-color: rgba(255, 201, 150, 0.9);
    position: fixed;
    padding-top: 15vh;
    top: 0px;
    height: calc(100% - 51px);
    width: 100%;
    justify-content: center;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--board-bg-color);
    color: var(--text-color-dark);
    height: 400px;
    width: 90vw;
    max-width: 450px;
    padding: 16px;
    box-shadow: 10px 10px 5px var(--footer-bg-color);
}

.modal form {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 32px;
}

.form-player-1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-player-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-player-2>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.modal form div:nth-child(1) {
    border-right: 3px solid var(--footer-bg-color);
}


/***********************
JS VARIABLE
************************/

.showModal {
    display: flex;
}